<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

	<!--配置组件扫描 -->
	<context:component-scan base-package="com.tonkia.spring"></context:component-scan>
	
	<!--实现优雅REST风格，默认的处理器映射 处理静态资源 Url 该标签会注册一个SimpleUrlHandlerMapping把Url转给DefaultServletHttpRequestHandler(将请求转交给Servlet容器默认的Servlet) 
		Order值为2147483647 -->
	<mvc:default-servlet-handler />
	
	<!-- 处理器映射配置 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>

	<!-- 由处理器适配器对象根据请求的Accept的值来选择相应的MessagerConverter返回相应的值 -->
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />


	<!-- 配置事务控制 -->
	<bean id="dsMgr"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"></property>
	</bean>

	<tx:advice id="txAdv" transaction-manager="dsMgr">
		<tx:attributes>
			<tx:method name="/" propagation="REQUIRED" />
			<tx:method name="get*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdv"
			pointcut="execution(* com.tonkia.spring.service.*.*(..))" />
	</aop:config>

	<!-- 配置mybatis -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"></property>
		<property name="typeAliasesPackage" value="com.tonkia.spring.vo"></property>
		<property name="mapperLocations">
			<array>
				<value>classpath*:com.tonkia.spring.data.*Mapper.xml</value>
			</array>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
		<property name="basePackage" value="com.tonkia.spring.data"></property>
	</bean>

	<!-- 数据源 -->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="username" value="tonkia"></property>
		<property name="password" value="Txk19961003"></property>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:tong"></property>
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"></property>
	</bean>

</beans>